<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traders' terminal</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="carousel">
        <div class="group">
            <div class="card"> <img src="images/debridge.jpg" alt=" debridge image ">deBridge Foundation $DBR will go live on 17.10.2024. LFG  LAUNCH - 15/10/24.</div>
        </div
        <!-- Hides from screen readers -->
        <div aria-hidden class="group">
            <div class="card"> <img src="images/debridge.jpg" alt=" debridge image ">deBridge Foundation $DBR will go live on 17.10.2024. LFG  LAUNCH - 15/10/24.</div>
        </div>
      </div>
      <h1>Real Time Market Data</h1>
    <div class="container">
        <div class="item one">
        <img src="images/data.jpeg" alt="">
        </div>
        <div class="item two">
            <img src="images/debridgeExchange.jpeg" alt="">
        </div>   
        <div class="item three">
            <table id="ticker-table">
                <thead>
                    <th class="symbol">Symbol</th>
                    <th class="price">Last Price</th>
                    <th class="change"> % Chg</th>
                    <th class="volume">Volume</th>
                </thead>
                <tbody id="ticker-body">
    
                </tbody>
    
            </table>
        </div>
    </div>
<script src="javascript/main.js"></script>    
</body>
</html>