<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traders' terminal</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="carousel">
        <div class="group">
            <div class="card"> <img src="images/debridge.jpg" alt=" debridge image ">deBridge Foundation $DBR will go live on 17.10.2024. LFG  LAUNCH - 15/10/24.</div>
            <div class="card"><p> Source code  <a href="https://github.com/0xTikDev/traders-dashboard.git" target="_blank"> here</a> </p></div>
        </div
        <!-- Hides from screen readers -->
        <div aria-hidden class="group">
            <div class="card"> <img src="images/debridge.jpg" alt=" debridge image ">deBridge Foundation $DBR will go live on 17.10.2024. LFG  LAUNCH - 15/10/24.</div>
            <div class="card"><p> Source code  <a href="https://github.com/0xTikDev/traders-dashboard.git" target="_blank"> here</a> </p></div>
        </div>
      </div>
      <h2>Stay up to date with market trends, and make informed financial decisions at a glance.</h2>
    <div class="container">
        <div class="item one">
            <canvas id="chart1" height="50px"> </canvas>
        </div>
        <div class="item two">
            <canvas id="chart2" height="50px"> <img src="images/data.jpeg" alt=""></canvas>
        </div>
       
        <div class="item three">
            
            <table id="ticker-table">
                <caption> <h2>24hr Tickers</h2></caption>
                
                <thead>
                    <th class="symbol">Symbol</th>
                    <th class="price">Last Price</th>
                    <th class="change"> % Chg</th>
                    <th class="volume">Volume</th>
                </thead>
                <tbody id="ticker-body">
    
                </tbody>
    
            </table>
        </div>
    </div>
<script src="javascript/main.js"></script>  
</body>
</html>